.calendar__table {
    width: 60vw;
    max-width: 60vw;
    min-width: 60vw;
    height: calc(80vh - 156px);
    margin: auto;
}

.calendar__table .tds {
    border: 1px solid silver;
    vertical-align: top;
    width: 14.29%;
    height: calc(20% - 27px);
}

.calendar__table--6weeks .tds {
    height: calc(16.66% - 27px);
}

.calendar__weekday {
    font-weight: bold;
    color: #000000;
    font-size: 1.2em;
}

.calendar__otherMonth {
    color: rgba(0,0,0,0.3);
}

@media (max-width: 900px) {
    .calendar__weekday {
        font-size: 0.4em;
    }

    .monthTitle {
        font-size: 1em;
        margin-bottom: 0;
    }

    .btns {
        font-size: 0.7em;
    }

    .calendar__table {
        width: 100vw;
        max-width: 100vw;
        min-width: 100vw;
    }
}

@media (max-width: 325px) {
    .calendar__weekday {
        font-size: 0.3em;
    }

    .monthTitle {
        font-size: 0.8em;
    }
}